
<section id="manager">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center">
                <div class="title">
                    <h1>Welcome to Silicon User Manager</h1>
                    <p>Choose one of the following options:</p>
                </div>
                <div class="options">
                    <NavLink class="nav-link" href="/Course/CreateCourse">Create Course</NavLink>
                    <NavLink class="nav-link" href="/Course/ListCourses">Display all courses</NavLink>
                 
                    <NavLink class="nav-link" href="/Course/DeleteCourses">Delete course</NavLink>
                </div>
            </div>
            <div class="col-md-6">
                <img class="img-fluid" src="https://silicon.blob.core.windows.net/courses/_4f2eda26-d940-499e-85ab-ea184b2ca17f.jpg" alt="user image background" />
            </div>
        </div>
    </div>
</section>
