@page "/User/Users"
@using BlazorSiliconBackOffice.Data
@using Microsoft.AspNetCore.Authorization
@attribute [StreamRendering]
@attribute [Authorize]
@inject HttpClient Http
@rendermode InteractiveServer

<PageTitle>Silicon Manager</PageTitle>
<section id="manager">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center">
                <div class="title">
                    <h1>Welcome to Silicon Manager</h1>
                    <p>Choose one of the following options:</p>
                </div>
                <div class="options">
                    <NavLink class="nav-link" href="/User/ListUsers">Display all users</NavLink>
                    <NavLink class="nav-link" href="/User/UpdateUsers">Update user information</NavLink>
                    <NavLink class="nav-link" href="/User/DeleteUsers">Delete user</NavLink>
                    <NavLink class="nav-link" href="/Course/CreateCourse">Create Course</NavLink>
                    <NavLink class="nav-link" href="/Course/ListCourses">Display all courses</NavLink>
                    <NavLink class="nav-link" href="/Course/DeleteCourses">Delete course</NavLink>
                    <NavLink class="nav-link" href="/Subscribers/GetAll">Display subscribers</NavLink>
                    <NavLink class="nav-link" href="/Subscribers/Update">Update subscriber</NavLink>
                    <NavLink class="nav-link" href="/User/DeleteSubscriber">Delete subscriber</NavLink>
                </div>
            </div>
            <div class="col-md-6">
                <img class="img-fluid" src="https://silicon.blob.core.windows.net/backoffficeimages/silicon.jpg" alt="user image background" />
            </div>
        </div>
    </div>
</section>

