@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to Silicon BackOffice</h1>

<p> This portal is designed to provide you with all the tools and information you need to manage your operations effectively and efficiently.</p>
<p> Here, you’ll find a comprehensive suite of features tailored to meet your specific needs.</p>
<p>yHere, you can manage users, subscribers,courses.Our back office portal puts you in control. With an intuitive interface and real-time data, you can make informed decisions quickly and confidently.</p>
<p>Whether you’re a seasoned professional or new to the role, our portal is designed to be user-friendly and easy to navigate. And if you ever need help, our dedicated support team is just a click away.</p>
<p>
    Remember, this portal is more than just a tool - it’s your gateway to managing and growing your business.
    So, dive in and explore!
</p>   