@page "/Subscribers/SubscriberMenu"

@rendermode InteractiveServer
@attribute [StreamRendering]
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization

<section id="subscribe">
<div class="container">
        <h3>Silicon Manage Subscribers Menu</h3>
        <div class="menu">
            <NavLink class="nav-link" href="/Subscribers/GetAll">Display subscribers</NavLink>
            <NavLink class="nav-link" href="/Subscribers/Update">Update subscriber</NavLink>
            <NavLink class="nav-link" href="/Subscribers/DeleteSubscriber">Delete subscriber</NavLink>
        </div>
        <div class="button">
            <a href="/" class="btn btn-primary">Back</a>
        </div>
</div>
</section>